/*scrollbar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}


/*base*/
body {
  font-family: Arial !important;
  line-height: 1.6;
  margin: 0;
  /* background-image: url('https://t4.ftcdn.net/jpg/03/87/92/05/360_F_387920502_YP9xXi5ronRnnfbQF0JTVewJxUIvNcFm.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
  min-height: 100vh;
  /* background-position: center; */
  background-color: #9aaa8d !important;

}

a,
.return-link {
  text-decoration: none;
  color: #282d24 ;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.text-alert {
  color: rgb(211, 9, 9);
}

.nav-link {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

/*buttons*/
.btn-primary {
  background-color: #097fcb !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #076bae !important;
}

.btn-secondary {
  background-color: #fee531 !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #e2ca11 !important;
  color: #fff !important;
}

.btn-tertiary {
  background-color: #9aaa8d !important;
  color: #fff !important;
}

.btn-tertiary:hover {
  background-color: #819273 !important;
}


/*layout*/

.card {
  border-radius: 25px;
  padding: 2rem;
  margin: 1rem 0rem;
}

.card-title {
  margin-top: 0;
}

section {
  padding-bottom: 6rem;
}


/*tables*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 25px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
}

@media only screen and (max-width: 1000px) {
  .scroll-table {
    overflow-x: scroll;
  }
}

/*forms*/
input {
  background-color: #212529;
  color: white;
  border-radius: 5px;
  border: 1.5px solid #495057;
  padding: 5px;
}

#searchInput {
  height: 2.5rem;
}

/*footer*/
.footer {
  text-align: center;
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}



/*pages*/
.error-page {
  margin-top: 10rem;
}

.login-icon {
  font-size: 7rem;
}