/*base*/
body {
  font-family: Arial !important;
  line-height: 1.6;
  margin: 0;
  background-image: url('https://img.freepik.com/free-vector/green-tones-gradient-background_23-2148376167.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  background-position: center;
}

a,
.return-link {
  text-decoration: none;
  color: #282d24 ;
}

.text-alert {
  color: rgb(211, 9, 9);
}
.text-bold {
  font-weight: bolder;
}

.navbar-brand, h2, h3, h5, .login-icon {
  color: #2b8ff2 !important;
}

/*nav*/
.nav-link {
  padding-left: 16px !important;
  padding-right: 16px !important;
}


/*buttons*/
.btn-secondary {
  background-color: #fee531 !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #e2ca11 !important;
  color: #fff !important;
}

.btn-tertiary {
  background-color: #91b66d !important;
  color: #fff !important;
}

.btn-tertiary:hover {
  background-color: #759556 !important;
}


/*layout*/

.card {
  border-radius: 25px;
  padding: 2rem;
  margin: 1rem 0rem;
}
.card-title {
  margin-top: 0;
}

section {
  padding-bottom: 6rem;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}  
.flex-spacebetween {
  display: flex;
  justify-content: space-between;
}

/*tables*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 25px;
}


@media only screen and (max-width: 1000px) {
  .scroll-table {
    overflow-x: scroll;
  }
}

/*forms*/
input {
  background-color: #212529;
  color: white;
  border-radius: 5px;
  border: 1.5px solid #495057;
  padding: 5px;
}

/*footer*/
.footer {
  text-align: center;
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

/*pages*/
.error-page {
  margin-top: 10rem;
}

.login-icon {
  font-size: 7rem;
}